#titulo{
    color: black;
    font-family: Courier;
}

p{
    color: grey;
    text-align: left;
    font-family: Arial;
}

#contenedor{
    border: 1px solid darkorchid;
    margin: 0 auto;
    width: 70%;
    padding: 1em;
    text-align: left;
}